<div class="full-screen-container">
      <div class="login-container">
        <h3 class="login-title">Welcome</h3>
        <form>
          <div class="input-group">
            <label>Email</label>
            <input type="email" #passwordResetEmail required />
            
          </div>
          
          <input type="submit" class="btn btn-primary" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value )">

          

          <p class="text-center mt-3 ">go back to?<a routerLink="" class="register"> LogIn</a></p>
        </form>
      </div>
    </div>