<!-- navbar -->
<nav class="navbar navbar-expand-lg fixed-top" [ngStyle]="navbg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">SHOWTIME</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/search">Search</a>
        </li>

         <li class="nav-item">
          <a class="nav-link" routerLink="/sign-in">LogOut</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>



<!-- banner start -->
<div class="container-fluid">
  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-inner">
      <div
        class="carousel-item active"
        *ngFor="let b of bannerResult; let i = index"
        [ngClass]="{ active: i == 1 }"
      >
        <img
          src="https://image.tmdb.org/t/p/original/{{ b.backdrop_path }}"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h2>{{ b.original_title }}</h2>
          <p>{{ b.overview }}</p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="contain mt-3 p-4">

  <!-- trending movies -->
  <div class="row mt-5 mb-5">
    <h5 class="text-white">Popular Movies</h5>
    <div class="rowPoster mt-3 p-2">
      <ng-container *ngFor="let t of trendingMovieResult">
        <img
          src="https://image.tmdb.org/t/p/original/{{ t.poster_path }}"
          class="rowing largePoster"
          [routerLink]="['/movie', t.id]"
          alt="..."
        />
      </ng-container>
    </div>
  </div>

   <!-- action movies -->
  <div class="row mt-5 mb-5">
    <h5 class="text-white">Action Movies</h5>
    <div class="rowPoster mt-3 p-2">
      <ng-container *ngFor="let t of actionMovieResult">
        <img
          src="https://image.tmdb.org/t/p/original/{{ t.poster_path }}"
          class="rowing largePoster"
          [routerLink]="['/movie', t.id]"
          alt="..."
        />
      </ng-container>
    </div>
  </div>

   <!-- adventure movies -->
  <div class="row mt-5 mb-5">
    <h5 class="text-white">Adventure Movies</h5>
    <div class="rowPoster mt-3 p-2">
      <ng-container *ngFor="let t of adventureMovieResult">
        <img
          src="https://image.tmdb.org/t/p/original/{{ t.poster_path }}"
          class="rowing largePoster"
          [routerLink]="['/movie', t.id]"
          alt="..."
        />
      </ng-container>
    </div>
  </div>

    <!-- animation movies -->
  <div class="row mt-5 mb-5">
    <h5 class="text-white">Animation Movies</h5>
    <div class="rowPoster mt-3 p-2">
      <ng-container *ngFor="let t of animationMovieResult">
        <img
          src="https://image.tmdb.org/t/p/original/{{ t.poster_path }}"
          class="rowing largePoster"
          [routerLink]="['/movie', t.id]"
          alt="..."
        />
      </ng-container>
    </div>
  </div>

    <!-- comedy movies -->
  <div class="row mt-5 mb-5">
    <h5 class="text-white">Comedy Movies</h5>
    <div class="rowPoster mt-3 p-2">
      <ng-container *ngFor="let t of comedyMovieResult">
        <img
          src="https://image.tmdb.org/t/p/original/{{ t.poster_path }}"
          class="rowing largePoster"
          [routerLink]="['/movie', t.id]"
          alt="..."
        />
      </ng-container>
    </div>
  </div>

    <!-- documentary movies -->
  <div class="row mt-5 mb-5">
    <h5 class="text-white">Documentary Movies</h5>
    <div class="rowPoster mt-3 p-2">
      <ng-container *ngFor="let t of documentaryMovieResult">
        <img
          src="https://image.tmdb.org/t/p/original/{{ t.poster_path }}"
          class="rowing largePoster"
          [routerLink]="['/movie', t.id]"
          alt="..."
        />
      </ng-container>
    </div>
  </div>

    <!-- science-fiction movies -->
  <div class="row mt-5 mb-5">
    <h5 class="text-white">Science-Fiction Movies</h5>
    <div class="rowPoster mt-3 p-2">
      <ng-container *ngFor="let t of scienceFictionMovieResult">
        <img
          src="https://image.tmdb.org/t/p/original/{{ t.poster_path }}"
          class="rowing largePoster"
          [routerLink]="['/movie', t.id]"
          alt="..."
        />
      </ng-container>
    </div>
  </div>

    <!-- thriller movies -->
  <div class="row mt-5 mb-5">
    <h5 class="text-white">Thriller Movies</h5>
    <div class="rowPoster mt-3 p-2">
      <ng-container *ngFor="let t of thrillerMovieResult">
        <img
          src="https://image.tmdb.org/t/p/original/{{ t.poster_path }}"
          class="rowing largePoster"
          [routerLink]="['/movie', t.id]"
          alt="..."
        />
      </ng-container>
    </div>
  </div>
</div>
